* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  height: 100vh;
  background: rgb(80, 192, 247);
  background: linear-gradient(
    140deg,
    rgb(161, 240, 57) 0%,
    rgb(247, 145, 37) 90%
  );
}
.head {
  background: none;
  text-align: center;
  padding: 25px;
}
.Input {
  background: none;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  gap: 10px;
}
.Input > input[type="text"] {
  width: 40%;
  color: black;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 2px;
  background: none;
  padding: 6px;
  padding-left: 8px;
  font-size: 20px;
  outline: none;
  text-align: center;
}
.Input button {
  background: black;
  color: white;
  width: 70px;
  height: 35px;
  margin-top: 5px;
  border-radius: 20px;
  font-weight: 800;
  border: none;
}
.Input button:hover {
  color: black;
  background: rgb(227, 225, 225);
  cursor: pointer;
}
.task {
  display: flex;
  justify-content: center;
}
.task ol {
  list-style: none;
  counter-reset: task_no;
}
.ToDo {
  height: 60vh;
  /* border: 2px solid red; */
  width: 35vw;
  margin: 60px;
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}
.ToDo ol h2 {
  background: rgb(162, 139, 139);
  border-radius: 30px;
  width: 30vw;
  font-size: 25px;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    140deg,
    rgb(114, 199, 2) 0%,
    rgb(216, 115, 7) 90%
  );
  /* background: #888; */
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ToDo ol li {
  background: linear-gradient(
    140deg,
    rgb(114, 199, 2) 0%,
    rgb(216, 115, 7) 90%
  );
  height: 40px;
  border-radius: 20px;
  width: 400px;
  margin: 10px;
  counter-increment: task_no;
}
.ToDo ol li button {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 400;
  background: black;
  color: white;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  float: right;
  margin: 5px;
}
.ToDo ol li button:hover {
  cursor: pointer;
  color: black;
  background: rgb(227, 225, 225);
}
.ToDo ol li::before {
  content: counters(task_no, ".") ". ";
  /* background: #a596d9; */
  display: inline-block;
  width: 2rem;
  /* height: 2rem; */
  /* border-radius: 50%; */
  /* line-height: 2rem; */
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-weight: 600;
}
